[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gglogger"]
	path = gglogger
	url = https://github.com/pwwang/gglogger
[submodule "plotthis"]
	path = plotthis
	url = https://github.com/pwwang/plotthis
